[package]
name = "runh"
authors = ["Stefan Lankes <slankes@eonerc.rwth-aachen>", "Jonas Schroeder <jonas.schroeder1@rwth-aachen>"]
license = "MIT/Apache-2.0"
version = "0.1.0"
keywords = ["oci", "container", "unikernel"]
categories = ["operating system", "container", "virtualization"]
readme = "README.md"
edition = "2018"
description = """
runh is a CLI tool for spawning and running RustyHermit containers.
"""

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
anyhow = "1.0.66"
clap = { version = "2.33.3", features = ["wrap_help", "suggestions"] }
colour = { version = "0.6" }
derive_builder = { version = "0.11.2" }
futures = "0.3.21"
tokio = { version = "1.20.1", features = ["full"] }
getset = "0.1.2"
log = { version = "0.4.17", features = ["serde", "std"] }
serde = { version = "1.0.147", features = ["derive"] }
serde_json = "1.0.87"
dkregistry = { git = "https://github.com/camallo/dkregistry-rs.git" }
time = { version = "0.3.9", features = ["std", "formatting", "local-offset"] }
libc = "0.2.137"
cgroups-rs = "0.2.10"
oci-spec = "0.5.7"
nix = "0.24"
command-fds = "0.2"
capctl = "0.2"
path-clean = "0.1.0"
procfs = { version = "0.14.0", default-features = false, features = ["flate2"] }
rtnetlink = "0.11.0"

[dependencies.goblin]
version = "0.5.3"
default-features = false
features = ["elf64", "elf32", "endian_fd", "std"]
