[package]
name = "runh"
authors = ["Stefan Lankes <slankes@eonerc.rwth-aachen>", "Jonas Schroeder <jonas.schroeder1@rwth-aachen>"]
license = "MIT/Apache-2.0"
version = "0.1.0"
keywords = ["oci", "container", "unikernel"]
categories = ["operating system", "container", "virtualization"]
readme = "README.md"
edition = "2018"
description = """
runh is a CLI tool for spawning and running RustyHermit containers.
"""

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
anyhow = "1.0.58"
clap = { version = "2.33.3", features = ["wrap_help", "suggestions"] }
colour = { version = "0.6" }
derive_builder = { version = "0.11.2" }
futures = "0.3.21"
tokio = { version = "1.19.2", features = ["full"] }
getset = "0.1.2"
log = { version = "0.4.17", features = ["serde", "std"] }
serde = { version = "1.0.137", features = ["derive"] }
serde_json = "1.0.79"
dkregistry = { git = "https://github.com/camallo/dkregistry-rs.git" }
chrono = "0.4.19"
libc = "0.2.126"
cgroups-rs = "0.2.9"
oci-spec = "0.5.4"
nix = "0.24"
command-fds = "0.2"
capctl = "0.2"
path-clean = "0.1.0"
procfs = "0.12.0"
rtnetlink = "0.9.1"

[dependencies.goblin]
version = "0.5.1"
default-features = false
features = ["elf64", "elf32", "endian_fd", "std"]
